<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href='/public/main.css' rel='stylesheet' type='text/css'>
		<script src="/public/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<header>个人博客首页</header>

		<nav id="nav">
			<ul>
                {% for category in categories %}
                <li><a href="#">{{category.categoryname}}</a></li>
                {% endfor %}
			</ul>
			
		</nav>


        <div class="center">
			<div class="c_f">
				<div class="listBox">
					<h1>1111111111111111</h1>
					 <p class="colDefault">
						作者：<span class="colInfo">{{content.user.username}}</span> -
						时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
						阅读：<span class="colInfo">{{content.views}}</span> -
						评论：<span class="colInfo">{{content.comments.length}}</span>
					</p>
					  <div><p>1111111111111111111111111</p></div>
					  <div class="function"><a href="/view?contentid={{content.id}}">阅读全文</a></div>
				</div>
				
				<div class="listBox">
					<h1>1111111111111111</h1>
					 <p class="colDefault">
						作者：<span class="colInfo">{{content.user.username}}</span> -
						时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
						阅读：<span class="colInfo">{{content.views}}</span> -
						评论：<span class="colInfo">{{content.comments.length}}</span>
					</p>
					 <div><p>1111111111111111111111111</p></div>
					  <div class="function"><a href="/view?contentid={{content.id}}">阅读全文</a></div>

				</div>
				
				<div class="listBox">
					<h1>1111111111111111</h1>
					 <p class="colDefault">
						作者：<span class="colInfo">{{content.user.username}}</span> -
						时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
						阅读：<span class="colInfo">{{content.views}}</span> -
						评论：<span class="colInfo">{{content.comments.length}}</span>
					</p>
					 <div><p>1111111111111111111111111</p></div>
					  <div class="function"><a href="/view?contentid={{content.id}}">阅读全文</a></div>

				</div>
			</div>

			<div class="c_r">
				<!-- 登录后的状态 -->
                {% if userInfo._id %}
                <div class="rightBox" id="userinfo">

                    <div class="title"><span>用户信息</span></div>
                    <p><span class="colDark">{{userInfo.username}}</span></p>
                    {% if userInfo.isadmin %}
                    <p><span class="colDanger">你好,管理员</span><a href="/admin">进入后台管理</a></p>
                    {% else %}
                    <p><span class="colDanger">你好,欢迎光临我的博客</span></p>
                    {% endif %}

                    <p><span class="colDark "><a href="javascript:;" id="logout">退出</a></span></p>
                </div>
                {% else %}
				<!-- 登录面板 -->
                <div class="rightBox" id="loginBox">
					<div class="title"><span>登录</span></div>
					<div class="line"><span class="colDark">用户名：</span><input name="username" type="text" /><em></em></div>
					<div class="line"><span class="colDark">密码：</span><input name="password" type="password" /><em></em></div>
					<div class="line"><span class="colDark"></span><button>登 录</button></div>
					<p class="textRight">还没注册？<a href="javascript:;" class="colMint">马上注册</a>　</p>
					<p class="colWarning textCenter"></p>
				</div>

				<!-- 注册面板 -->
                <div class="rightBox" id="registerBox" style="display:none;">
					<div class="title"><span>注册</span></div>
					<div class="line"><span class="colDark">用户名：</span><input name="username" type="text" /></div>
					<div class="line"><span class="colDark">密码：</span><input name="password" type="password" /></div>
					<div class="line"><span class="colDark">确认：</span><input name="repassword" type="password" /></div>
					<div class="line"><span class="colDark"></span><button>注 册</button></div>
					<p class="textRight">已有账号？<a href="javascript:;" class="colMint">马上登录</a>　</p>
					<p class="colWarning textCenter"></p>
				</div>
                {% endif %}
				<!-- 社区 -->
				 <div class="rightBox">
					<div class="title"><span>社区</span></div>
					<p><a href="http://www.miaov.com" target="_blank" class="colDanger">妙味课堂</a></p>
					<p><a href="http://bbs.miaov.com" target="_blank" class="colDanger">妙味茶馆</a></p>
				</div>
			</div>
		</div>
	</body>
</html>
